<div id='container'></div>

<script type="text/javascript">

var chart;

function draw() {

  // グラフオプションを指定
  var options = {
    // 出力先を指定
    chart :{renderTo : "container"},
    // タイトルを指定
    title : {text: "温度グラフ"},
    // x軸のラベルを指定
    xAxis : {title: {text: "数"}},
    // y軸のラベルを指定
    yAxis : {title: {text: "室温"}}
  }

  // グラフを作成
  chart = new Highcharts.Chart(options);

  // Ajaxを使って data.csv を読み込み、contentに格納
  jQuery.get("http://210.152.137.224:1234/temperature", function(content) {

    // 読み込んだデータを","で区切って配列にする
    content = content.split(",");
    // それぞれの要素を数値に変換する
    for(i=0; i<content.length; i++){
      content[i] = Number(content[i]);
    }
    // グラフオプションに追加
    options['series'] = [{name: "temperature", data: content}];
    // グラフを作成
    chart = new Highcharts.Chart(options);
  } );
}

// ページがロードされた後に、グラフを出力する
// document.onload = draw();

draw();

setInterval(draw,5000);

</script>

