<link rel="stylesheet" type="text/css" href="css/style.css">

<div class="chart">
    <canvas id="myChart" width="200" height="200"></canvas>
    <div class="count">
        <em>79</em>
        <span class="caption">%</span>
    </div>
</div>
<div class="chart" id="chart2">
    <canvas id="myChart2" width="200" height="200"></canvas>
    <div class="count">
        <em>62</em>
        <span class="caption">%</span>
    </div>
</div>


<script>

// ===================================
// Chart1
// ===================================
var data = [
  {
    value: 79,
    color:"#fff"
  },
  {
    value : 21,
        // Draw with background color
    color : "#66ccff" 
  }
];
var ctx = document.getElementById("myChart").getContext("2d");
new Chart(ctx).Doughnut(data,{
  segmentShowStroke : false,
  segmentStrokeColor : "#fff",
  segmentStrokeWidth : 1,
  percentageInnerCutout : 80, // **** Border width
  animation : true,
  animationSteps : 100,
  animationEasing : "easeOutBounce",
  animateRotate : true,
  animateScale : false,
  onAnimationComplete : null
});
// ===================================
// Chart2
// ===================================
var data = [
  {
    value: 62,
    color:"#fff"
  },
  {
    value : 100-62,
    color : "#66ccff"
  }
];
var ctx = document.getElementById("myChart2").getContext("2d");
new Chart(ctx).Doughnut(data,{
  segmentShowStroke : false,
  segmentStrokeColor : "#fff",
  segmentStrokeWidth : 1,
  percentageInnerCutout : 80, // **** Border width
  animation : true,
  animationSteps : 100,
  animationEasing : "easeOutBounce",
  animateRotate : true,
  animateScale : false,
  onAnimationComplete : null
});


</script>


