<link rel="stylesheet" type="text/css" href="css/style.css">

<div class="chart">
    <canvas id="myChart" width="200" height="200"></canvas>
    <div class="count">
        <em id="num"></em>
        <span class="caption">%</span>
    </div>
</div>
<div class="chart" id="chart2">
    <canvas id="myChart2" width="200" height="200"></canvas>
    <div class="count">
        <em>62</em>
        <span class="caption">%</span>
    </div>
</div>


<script>

function loop(){

 jQuery.get("http://210.152.137.224:1234/num", function(content) {

    // 読み込んだデータを","で区切って配列にする
    var content = Number(content);

document.getElementById("num").innerHTML = content;
// ===================================
// Chart1
// ===================================
var data = [
  {
    value: content,
    color:"#fff"
  },
  {
    value : 100-content,
        // Draw with background color
    color : "#66ccff" 
  }
];
var ctx = document.getElementById("myChart").getContext("2d");
new Chart(ctx).Doughnut(data,{
  segmentShowStroke : false,
  segmentStrokeColor : "#fff",
  segmentStrokeWidth : 1,
  percentageInnerCutout : 80, // **** Border width
  animation : true,
  animationSteps : 100,
  animationEasing : "easeOutBounce",
  animateRotate : true,
  animateScale : false,
  onAnimationComplete : null
});


    } );
}

loop();
// ===================================
// Chart2
// ===================================
var data = [
  {
    value: 62,
    color:"#fff"
  },
  {
    value : 100-62,
    color : "#66ccff"
  }
];
var ctx = document.getElementById("myChart2").getContext("2d");
new Chart(ctx).Doughnut(data,{
  segmentShowStroke : false,
  segmentStrokeColor : "#fff",
  segmentStrokeWidth : 1,
  percentageInnerCutout : 80, // **** Border width
  animation : true,
  animationSteps : 100,
  animationEasing : "easeOutBounce",
  animateRotate : true,
  animateScale : false,
  onAnimationComplete : null
});


</script>


